body {
    color:whitesmoke;
    padding-top: 150px;
    background-color:black;
}

.inv-table td{
    color:darkblue;
}

.page404 {
    color: blue;
    font-size: 46px;
    text-align: center;
    margin-top: 50px;
}
.page404 p {
    text-decoration: underline;
}

.mt-4 {
    margin-top: 10px !important;
}